/*
Skedaddle extensions:
- imports
- spread syntax
- references to other nodes
- deferred expressions
*/
name Example
profiles {
    prd name=Production default=#true {
        host "https://shoal.lucaspickering.me"
    }
    local name=Local {
        host "http://localhost:3000"
    }
    init_fails name="Request Init Fails" { }
    request_fails name="Request Fails" {
        host "http://localhost:3333"
    }
}

base_request {
    headers {
        Accept "application/json"
    }
}
get_fish_id @() => {
    local options = response("list_fish") | map((fish) => {
      label fish.name
      value fish.id
    });
    select(options, message="Fish ID")
}

// TODO share recipe config
requests {
    new_session {
        ..base_request
        name "New Session"
        method POST
        url @"{{ host }}/login"
    }
    // TODO type=folder would be more explicit
    fish folder name=Fish {
        list_fish {
            ..base_request
            name "List Fish"
            method GET
            url @"{{ host }}/fish"
            query {
                foo bar
            }
        }
        get_fish {
            ..base_request
            name "Get Fish"
            method GET
            url @"{{ host }}/fish/{{ fish_id }}"
            query {
                select @select(["foo", "bar", "baz"], message="Select a value")
            }
        }
    }
}
